<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjp.dao.dao.mapper.CouponMapper">
    <resultMap id="BaseResultMap" type="com.wjp.dao.dao.entity.Coupon">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="coupon_type" property="couponType" jdbcType="VARCHAR"/>
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR"/>
        <result column="coupon_amount" property="couponAmount" jdbcType="INTEGER"/>
        <result column="valid_type" property="validType" jdbcType="TINYINT"/>
        <result column="valid_time_range" property="validTimeRange" jdbcType="VARCHAR"/>
        <result column="valid_days" property="validDays" jdbcType="INTEGER"/>
        <result column="support_product_code" property="supportProductCode" jdbcType="VARCHAR"/>
        <result column="coupon_deadline_date" property="couponDeadlineDate" jdbcType="VARCHAR"/>
        <result column="distribute_type" property="distributeType" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="created_time" property="createdTime" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.wjp.dao.dao.entity.Coupon">
        insert into t_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="couponType != null">
                coupon_type,
            </if>
            <if test="couponName != null">
                coupon_name,
            </if>
            <if test="couponAmount != null">
                coupon_amount,
            </if>
            <if test="validType != null">
                valid_type,
            </if>
            <if test="validTimeRange != null">
                valid_time_range,
            </if>
            <if test="validDays != null">
                valid_days,
            </if>
            <if test="supportProductCode != null">
                support_product_code,
            </if>
            <if test="couponDeadlineDate != null">
                coupon_deadline_date,
            </if>
            <if test="distributeType != null">
                distribute_type,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="couponType != null">
                #{couponType,jdbcType=VARCHAR},
            </if>
            <if test="couponName != null">
                #{couponName,jdbcType=VARCHAR},
            </if>
            <if test="couponAmount != null">
                #{couponAmount,jdbcType=INTEGER},
            </if>
            <if test="validType != null">
                #{validType,jdbcType=TINYINT},
            </if>
            <if test="validTimeRange != null">
                #{validTimeRange,jdbcType=VARCHAR},
            </if>
            <if test="validDays != null">
                #{validDays,jdbcType=INTEGER},
            </if>
            <if test="supportProductCode != null">
                #{supportProductCode,jdbcType=VARCHAR},
            </if>
            <if test="couponDeadlineDate != null">
                #{couponDeadlineDate,jdbcType=VARCHAR},
            </if>
            <if test="distributeType != null">
                #{distributeType,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="getCouponById" resultType="com.wjp.dao.dao.entity.Coupon">
      select * from t_coupon where id=#{couponId} and is_deleted = 0 and status = 1
    </select>
</mapper>