<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjp.service.enumcode.EnumCodeMapper">
    <resultMap id="BaseResultMap" type="com.wjp.service.enumcode.EnumCode">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="enum_type" jdbcType="VARCHAR" property="enumType"/>
        <result column="enum_code" jdbcType="VARCHAR" property="enumCode"/>
        <result column="code_type" jdbcType="TINYINT" property="codeType"/>
        <result column="enum_name" jdbcType="VARCHAR" property="enumName"/>
        <result column="enum_description" jdbcType="VARCHAR" property="enumDescription"/>
        <result column="enum_attribute" jdbcType="VARCHAR" property="enumAttribute"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="sort_no" jdbcType="SMALLINT" property="sortNo"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>
    <select id="getEnumList" resultType="com.wjp.service.enumcode.EnumCode">
    select enum_code,enum_name from t_enum_code where is_delete=0 and enum_type=#{type}
  </select>
</mapper>